@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary: #067bc2;
}

body {
  background-color: #f7f9fc;
}

@theme inline {
  --color-primary: var(--primary);
  --font-geist: var(--font-geist-sans);
  --font-inter: var(--font-inter);
}
